body{
    background-image: url('im.jpg');
    
}
video{
    width: 900px;
    height: 700px;
    margin: 300px;
    margin-top: -150px;
   
}
.typing-animation {
    width: 18ch;
    animation: typing 3s steps(18), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    font-family: monospace;
    font-size: 150px;
    text-align: center;
    color: white;
    margin-top: 5px;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 18ch;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

